<fieldset>
	<legend>{{ localize "BF.Talent.Details" }}</legend>
	<label class="full-checkbox">
		<span class="hinted-label" data-tooltip="BF.Prerequisite.AllowMultipleTimes.Hint">
			{{ localize "BF.Prerequisite.AllowMultipleTimes.Label" }}
		</span>
		<input type="checkbox" name="system.restriction.allowMultipleTimes"
					 {{ checked system.restriction.allowMultipleTimes }}>
	</label>
</fieldset>

{{> "blackFlag.item-activities" }}
