<div>
	{{~#if showReverse}}
		<button type="button" class="link-button" data-action="reverse" data-tooltip
		        aria-label="{{ localize reverseLabel }}">
			<i class="fa-solid fa-clock-rotate-left" inert></i>
		</button>
	{{/if~}}
</div>
