<fieldset>
	<legend>{{ localize "BF.HitDie.Label[one]" }}</legend>
	{{ formField configuration.fields.denomination value=configuration.data.denomination
	             options=hitDieSizes rootId=partId }}
	{{#blackFlag-formGroup "BF.Advancement.HitPoints.Starting"}}
		<span>{{ configuration.data.denomination }}</span>
	{{/blackFlag-formGroup}}
	{{#blackFlag-formGroup "BF.Advancement.HitPoints.Average"}}
		<span>{{ advancement.average }}</span>
	{{/blackFlag-formGroup}}
</fieldset>
