.journal-entry-page.class {
	table.progression {
		col {
			min-width: 4em;
			&.level { width: 5em; }
			&.prof { width: 5em; }
		}
	}
}

.journal-entry-page.class .window-content {
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-block-end: 1rem;

	[data-application-part="config"] {
		margin-inline: 1rem;
	}

	.drop-area.hint { flex: 1 1 50%; }
	.item {
		margin-inline-start: auto;
		padding-block: 0.5rem;
		display: flex;
		gap: 1rem;
	}
}
