.journal-entry-page.spells:not(.sheet) {
	.grouping {
		font-size: var(--font-size-12);
		select {
			width: unset;
			block-size: 1.75em;
			margin-inline-start: 4px;
		}
	}

	ul.spells {
		padding-inline-start: 0;
		list-style: none;
		li {
			padding-block-end: 2px;
			.content-link > i { display: none; }
		}
	}
}

.journal-entry-page.sheet.spells {
	&:not(.minimized, .minimizing, .maximizing) {
		min-block-size: 450px;
		min-inline-size: 550px;
	}

	.journal-header { margin: 0; }

	.window-content {
		display: grid;
		grid-template-columns: auto 250px;
		overflow: hidden;
		padding-inline: 0;

		> .left { margin: 1rem; }
		> .right { overflow-y: auto; }
		h3 { margin-block-start: 1rem; }

		.items-list {
			margin-inline: 8px;
			.item:not(:last-of-type) { border: none; }
			.item-controls { flex: 0; }
		}
	}
}
