.table-of-contents.app, .table-of-contents.application {
	.window-header {
		background: var(--color-header-background);
		h1 { visibility: visible; }
	}

	.window-content {
		background: var(--bf-background-color-white);
		color: var(--bf-text-color-black);
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--bf-scrollbar-color) transparent;
	}

	article {
		display: flex;
		flex-direction: column;
		padding: 12px;
		gap: 12px;
	}

	.contents {
		flex-grow: 1;
		.chapter {
			margin-block-end: 6px;
			/* break-inside: avoid-column; */
		}
		section {
			column-count: 3;
		}
	}

	h2 {
		border: none;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-header);
		font-size: var(--font-size-36);
		text-transform: uppercase;
	}
	h3 {
		border: none;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-header);
		font-size: var(--font-size-16);
		font-variant: small-caps;
	}
	ul {
		margin-block: 0;
		padding-inline-start: 8px;
		list-style: none;
		font-size: var(--font-size-14);
		font-family: var(--bf-font-primary);
		font-weight: 400;
		.level-2 { margin-inline-start: 8px; }
		.level-3 { margin-inline-start: 16px; }
	}
}

/* .table-of-contents.application.theme-light {
	.window-header, h1, .header-control { color: var(--color-dark-1); }
} */
