.black-flag.pc.sheet .sheet-body [data-tab="biography"] {
	&.active {
		display: grid;
		gap: 12px;
		grid-template-areas:
			"artwork characteristics"
			"artwork biography";
		grid-template-rows: max-content auto;
		> .artwork { grid-area: artwork; }
		> .biography { grid-area: biography; }
		> .characteristics { grid-area: characteristics; }
	}

	.artwork .icon { width: 160px; }

	.characteristics {
		padding-block: 8px;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;
		}
		li {
			flex: 1 1 30%;
			display: flex;
			flex-direction: column;
		}
		label {
			font-family: var(--bf-font-header);
			font-size: var(--font-size-12);
			font-weight: bold;
			text-transform: uppercase;
		}
		input {
			border: 1px solid var(--bf-border-color-blue);
			padding-inline: 5px;
			&[disabled] {
				border-color: var(--bf-border-color-gray);
				background: none;
			}
		}
	}
	.biography-block {
		h3 {
			border-block-end: 1px solid var(--bf-border-color-blue);
			font-family: var(--bf-font-header);
			font-size: var(--font-size-18);
			font-weight: 400;
		}
		.editor:not(.prosemirror) {
			margin-block-end: 12px;
			min-block-size: 50px;
		}
		prose-mirror {
			min-block-size: 200px;
		}
	}
}
