.black-flag.lair.sheet {
	max-block-size: 90vh;
	container: sheet / inline-size;

	&:not(.minimized, .minimizing, .maximizing) {
		min-block-size: 200px;
		min-inline-size: 366px;
	}

	.window-content { gap: 8px; }

	.sheet-header {
		gap: 12px;
		--header-size: 48px;

		.profile {
			width: var(--header-size);
			height: var(--header-size);
			object-fit: cover;
		}
		.document-name {
			color: var(--bf-text-color-blue);
			font-size: 32px;
			font-family: var(--bf-font-header);
		}
		input.document-name {
			border: 1px solid var(--bf-color-border-blue);
			border-radius: 0;
			block-size: var(--header-size);
		}
	}

	.sheet-body {
		.editor.prosemirror { margin-block: 8px; }
		.items {
			margin-block-start: 0;
			li {
				margin-block-end: 8px;
			}
			[data-action="activate"] {
				font-weight: bold;
				&::after { content: "."; }
				& + p { display: inline; }
			}
			.controls {
				display: inline-flex;
				gap: 8px;
				margin-inline-end: 4px;
			}
		}
	}

	h2 {
		margin-block-start: 8px;
		margin-block-end: 0;
		border-block-end: .5px solid currentcolor;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-18);
		font-weight: 600;
		text-transform: uppercase;
	}
}
