.black-flag.pc.sheet {
	&:not(.minimized, .minimizing, .maximizing) {
		min-block-size: 500px;
		min-inline-size: 700px;
	}

	.window-content {
		container: sheet / inline-size;
		gap: 0.5rem;
		padding-inline-end: 8px;
		scrollbar-gutter: stable;
	}

	.profile {
		border: 1px solid transparent;
		border-radius: 0;
		cursor: pointer;

		&[data-action="editImage"] {
			border-color: var(--bf-border-color-blue);
		}
	}

	.block, .stat-block {
		display: flex;
		background: var(--bf-background-color-white);
		border: 1px solid var(--bf-border-color-gray);
		border-radius: 6px;

		.label {
			font-size: var(--font-size-13);
			text-align: center;

			@media (resolution: 2x) { font-size: var(--font-size-12); }
			&.light { color: var(--bf-text-color-light-label); }
		}

		&:not(.simple) {
			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-block: 0.15rem;
				padding-inline: 0.5rem;
			}

			button {
				background: none;
				border: none;
				line-height: unset;

				&:disabled {
					opacity: 0.25;
				}
			}
		}
	}

	.sheet-header {
		display: flex;
		gap: 0.5rem;

		.profile {
			block-size: 60px;
			inline-size: 60px;
		}

		.document-name {
			flex: 1 0 50%;
			margin: 0;
			border: 2px solid var(--bf-border-color-blue);
			border-radius: 0;
			align-content: center;
			font-size: var(--font-size-24);
			text-align: center;

			&input {
				height: 100%;
				background: none;
				border-width: 1px;
			}
		}

		.proficiency-bonus {
			flex: 0 0 10%;
			position: relative;

			> span {
				position: absolute;
				inset: 0;
				inset-block-start: -0.5ex;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-inline-end: 0.33ex;
				font-size: var(--font-size-20);
			}
		}

		.progression {
			flex: 1 0 20%;
			padding: 0;

			> legend {
				margin-inline: 0.65rem;
			}

			[data-action] {
				display: flex;
				margin-block-start: -1ex;
				padding-block: 0.25rem;
				padding-inline: 0.65rem;
				align-items: center;
				justify-content: space-evenly;
				width: 100%;
				height: calc(100% + 1ex);
			}

			.text {
				font-size: var(--font-size-18);
				font-weight: 100;
			}

			.icon {
				opacity: 0.5;
			}
			& a:hover .icon {
				opacity: 1;
			}

			.active {
				display: none;
			}
		}
	}

	&[data-progression] :is(.sheet-navigation, .sheet-body) { display: none; }
	&:not([data-progression]) [data-application-part="progression"] { display: none; }

	.sheet-body { flex-grow: 1; }
}
