<fieldset>
		<legend>{{ localize "BF.HEAL.FIELDS.healing.label" }}</legend>
		<blackFlag-damageList name="system.healing" single>
			<ul class="configuration-list">
				<li>
					<fieldset class="unfieldset">
						{{> "systems/black-flag/templates/activity/parts/damage-part.hbs" scalingOptions=scalingOptions
					    	data=source.system.healing prefix="$." fields=systemFields.healing.fields
								typeOptions=CONFIG.healingTypes.localizedOptions }}
					</fieldset>
				</li>
			</ul>
		</blackFlag-damageList>
</fieldset>
