<div>
		{{ formField fields.onSave name=(concat prefix "onSave") value=data.onSave localize=true
		             label="BF.SAVE.FIELDS.effects.onSave.label" hint="BF.SAVE.FIELDS.effects.onSave.hint"
								 rootId=partId }}
</div>
