@layer general {
	body.theme-dark .black-flag {
		--bf-background-color-blue: var(--bf-color-blue);
		--bf-background-color-dark-blue: var(--bf-color-blue);
		--bf-background-color-gray: rgb(62 62 62);
		--bf-background-color-white: rgba(45 45 45);
		--bf-background-color-half-white: rgba(45 45 45 / 0.5);
		--bf-background-color-quarter-white: rgba(45 45 45 / 0.25);

		--bf-border-color-black: rgb(255 255 255);
		--bf-border-color-blue: color-mix(in oklab, var(--bf-color-blue), #89d3ff 25%);
		--bf-border-color-drop-invalid: rgb(174 64 3);
		--bf-border-color-drop-unknown: rgb(180 180 180);
		--bf-border-color-drop-valid: rgb(9 134 73);
		--bf-border-color-light-blue: color-mix(in oklab, var(--bf-border-color-blue), cyan 40%);
		--bf-border-color-gray: rgb(180 180 180);

		--bf-button-background-color-regular: var(--bf-background-color-dark-blue);
		--bf-button-background-color-focus: var(--bf-background-color-white);
		--bf-button-text-color-regular: white;
		--bf-button-text-color-focus: white;
		--bf-button-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 50%);

		--bf-header-shadow: 0px 3px 3px 2px rgb(200 200 255 / 0.25);

		--bf-icon-color-black: rgb(255 255 255);
		--bf-icon-color-blue: rgb(168 206 255);

		--bf-journal-background: rgb(0 0 0);

		--bf-scrollbar-color: var(--bf-color-blue);

		--bf-text-color-black: var(--color-text-secondary);
		--bf-text-color-blue: rgb(255 255 255);
		--bf-text-color-light-label: color-mix(in oklab, var(--color-text-secondary), transparent 40%);
		--bf-text-color-white: rgb(255 255 255);
			--bf-text-color-application-damage: rgb(156 91 71);
			--bf-text-color-application-healing: rgb(60 127 88);
			--bf-text-color-application-temp: rgb(0 127 127);
		--bf-text-color-warning: rgb(180 0 0);
		--bf-text-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 70%);

		--bf-gradiant-blue: linear-gradient(
			color-mix(in oklab, var(--bf-color-blue), white 10%),
			color-mix(in oklab, var(--bf-color-blue), black 20%),
			color-mix(in oklab, var(--bf-color-blue), black 40%)
		);

		--notification-info-color: oklch(80% 20% 250deg);
		--notification-warn-color: oklch(90% 70% 90deg);
		--notification-error-color: oklch(70% 100% 50deg);

		.hint {
			color: var(--color-text-light-secondary);
		}
		textarea {
			background: var(--color-cool-4);
		}
	}
}


/* NOTE: The styles below should be exactly the same as those above */

@layer specific {
	.themed.theme-dark.black-flag {
		--bf-background-color-blue: var(--bf-color-blue);
		--bf-background-color-dark-blue: var(--bf-color-blue);
		--bf-background-color-gray: rgb(62 62 62);
		--bf-background-color-white: rgba(45 45 45);
		--bf-background-color-half-white: rgba(45 45 45 / 0.5);
		--bf-background-color-quarter-white: rgba(45 45 45 / 0.25);

		--bf-border-color-black: rgb(255 255 255);
		--bf-border-color-blue: color-mix(in oklab, var(--bf-color-blue), #89d3ff 25%);
		--bf-border-color-drop-invalid: rgb(174 64 3);
		--bf-border-color-drop-unknown: rgb(180 180 180);
		--bf-border-color-drop-valid: rgb(9 134 73);
		--bf-border-color-light-blue: color-mix(in oklab, var(--bf-border-color-blue), cyan 40%);
		--bf-border-color-gray: rgb(180 180 180);

		--bf-button-background-color-regular: var(--bf-background-color-dark-blue);
		--bf-button-background-color-focus: var(--bf-background-color-white);
		--bf-button-text-color-regular: white;
		--bf-button-text-color-focus: white;
		--bf-button-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 50%);

		--bf-header-shadow: 0px 3px 3px 2px rgb(200 200 255 / 0.25);

		--bf-icon-color-black: rgb(255 255 255);
		--bf-icon-color-blue: rgb(168 206 255);

		--bf-journal-background: rgb(0 0 0);

		--bf-scrollbar-color: var(--bf-color-blue);

		--bf-text-color-black: var(--color-text-secondary);
		--bf-text-color-blue: rgb(255 255 255);
		--bf-text-color-light-label: color-mix(in oklab, var(--color-text-secondary), transparent 40%);
		--bf-text-color-white: rgb(255 255 255);
			--bf-text-color-application-damage: rgb(156 91 71);
			--bf-text-color-application-healing: rgb(60 127 88);
			--bf-text-color-application-temp: rgb(0 127 127);
		--bf-text-color-warning: rgb(180 0 0);
		--bf-text-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 70%);

		--bf-gradiant-blue: linear-gradient(
			color-mix(in oklab, var(--bf-color-blue), white 10%),
			color-mix(in oklab, var(--bf-color-blue), black 20%),
			color-mix(in oklab, var(--bf-color-blue), black 40%)
		);

		--notification-info-color: oklch(80% 20% 250deg);
		--notification-warn-color: oklch(90% 70% 90deg);
		--notification-error-color: oklch(70% 100% 50deg);

		.hint {
			color: var(--color-text-light-secondary);
		}
		textarea {
			background: var(--color-cool-4);
		}
	}
}
