@layer general {
	body.theme-light .black-flag {
		--bf-background-color-blue: var(--bf-color-blue);
		--bf-background-color-dark-blue: rgb(43 67 102);
		--bf-background-color-gray: rgb(240 240 240);
		--bf-background-color-white: rgb(255 255 255);
		--bf-background-color-half-white: rgb(255 255 255 / 0.5);
		--bf-background-color-quarter-white: rgba(255 255 255 / 0.25);

		--bf-border-color-black: rgb(0 0 0);
		--bf-border-color-blue: var(--bf-color-blue);
		--bf-border-color-drop-invalid: oklch(60% 100% 50deg);
		--bf-border-color-drop-unknown: oklch(100% 00% 0deg);
		--bf-border-color-drop-valid: oklch(60% 100% 160deg);
		--bf-border-color-light-blue: color-mix(in oklab, var(--bf-border-color-blue), cyan 40%);
		--bf-border-color-gray: rgb(180 180 180);

		--bf-button-background-color-regular: var(--bf-color-blue);
		--bf-button-background-color-focus: var(--bf-background-color-white);
		--bf-button-text-color-regular: white;
		--bf-button-text-color-focus: black;
		--bf-button-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 50%);

		--bf-header-shadow: 0px 3px 3px 2px rgb(0 0 0 / 0.25);

		--bf-icon-color-black: rgb(0 0 0);
		--bf-icon-color-blue: var(--bf-color-blue);

		--bf-journal-background: rgb(255 255 255);

		--bf-scrollbar-color: var(--bf-color-blue);

		--bf-text-color-black: rgb(0 0 0);
		--bf-text-color-blue: oklch(28% 16% 268deg);
		--bf-text-color-light-label: rgb(0 0 0 / 0.6);
		--bf-text-color-white: rgb(255 255 255);
		--bf-text-color-application-damage: rgb(156 91 71);
		--bf-text-color-application-healing: rgb(60 127 88);
		--bf-text-color-application-temp: rgb(0 127 127);
		--bf-text-color-warning: rgb(180 0 0);
		--bf-text-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 70%);

		--bf-gradiant-blue: linear-gradient(
			color-mix(in oklab, var(--bf-color-blue), white 30%),
			color-mix(in oklab, var(--bf-color-blue), white 10%),
			color-mix(in oklab, var(--bf-color-blue), black 20%)
		);

		--notification-info-color: oklch(80% 20% 250deg);
		--notification-warn-color: oklch(90% 70% 90deg);
		--notification-error-color: oklch(70% 100% 50deg);

		button {
			--button-hover-background-color: var(--bf-color-blue);
		}
	}
}

/* NOTE: The styles below should be exactly the same as those above */

@layer specific {
	.themed.theme-light.black-flag,
	.themed.theme-light .black-flag.chat-message {
		--bf-background-color-blue: var(--bf-color-blue);
		--bf-background-color-dark-blue: rgb(43 67 102);
		--bf-background-color-gray: rgb(240 240 240);
		--bf-background-color-white: rgb(255 255 255);
		--bf-background-color-half-white: rgb(255 255 255 / 0.5);
		--bf-background-color-quarter-white: rgba(255 255 255 / 0.25);

		--bf-border-color-black: rgb(0 0 0);
		--bf-border-color-blue: var(--bf-color-blue);
		--bf-border-color-drop-invalid: oklch(60% 100% 50deg);
		--bf-border-color-drop-unknown: oklch(100% 00% 0deg);
		--bf-border-color-drop-valid: oklch(60% 100% 160deg);
		--bf-border-color-light-blue: color-mix(in oklab, var(--bf-border-color-blue), cyan 40%);
		--bf-border-color-gray: rgb(180 180 180);

		--bf-button-background-color-regular: var(--bf-color-blue);
		--bf-button-background-color-focus: var(--bf-background-color-white);
		--bf-button-text-color-regular: white;
		--bf-button-text-color-focus: black;
		--bf-button-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 50%);

		--bf-header-shadow: 0px 3px 3px 2px rgb(0 0 0 / 0.25);

		--bf-icon-color-black: rgb(0 0 0);
		--bf-icon-color-blue: var(--bf-color-blue);

		--bf-journal-background: rgb(255 255 255);

		--bf-scrollbar-color: var(--bf-color-blue);

		--bf-text-color-black: rgb(0 0 0);
		--bf-text-color-blue: oklch(28% 16% 268deg);
		--bf-text-color-light-label: rgb(0 0 0 / 0.6);
		--bf-text-color-white: rgb(255 255 255);
		--bf-text-color-application-damage: rgb(156 91 71);
		--bf-text-color-application-healing: rgb(60 127 88);
		--bf-text-color-application-temp: rgb(0 127 127);
		--bf-text-color-warning: rgb(180 0 0);
		--bf-text-shadow-blue: color-mix(in oklab, var(--bf-color-blue), cyan 70%);

		--bf-gradiant-blue: linear-gradient(
			color-mix(in oklab, var(--bf-color-blue), white 30%),
			color-mix(in oklab, var(--bf-color-blue), white 10%),
			color-mix(in oklab, var(--bf-color-blue), black 20%)
		);

		--notification-info-color: oklch(80% 20% 250deg);
		--notification-warn-color: oklch(90% 70% 90deg);
		--notification-error-color: oklch(70% 100% 50deg);

		button {
			--button-hover-background-color: var(--bf-color-blue);
		}
	}
}
