@import "actions.css";
@import "activities.css";
@import "attack-result.css";
@import "chat-messages.css";
@import "consumption.css";
@import "copyable.css";
@import "damage-list.css";
@import "death-saves.css";
@import "document-tags.css";
@import "effects.css";
@import "filters.css";
@import "inventory.css";
@import "multi-select.css";
@import "sorting.css";

blackFlag-advancement, blackFlag-uses { display: contents; }
blackFlag-actions, blackFlag-inventory {
	.main-add-button {
		display: flex;
		[data-action="add"] {
			width: max-content;
			margin-inline-start: auto;
			padding-inline: 10px;
			display: flex;
			align-items: center;
		}
	}
}
