blackFlag-actions {
	container: actions / inline-size;
	font-family: var(--font-body);

	table {
		border: none;
		margin: 0;
	}

	tbody {
		tr:first-child {
			font-family: var(--bf-font-primary);
			font-weight: 700;
		}
		td {
			padding: 2px;
		}
	}

	.control button[data-action]:not(.link-button) {
		inline-size: unset;
		block-size: 2em;
		min-block-size: unset;
		margin-inline: 0.5rem;
		padding-inline: 0.5em;
		font-size: var(--font-size-11);
		line-height: 1em;
		text-transform: uppercase;
	}

	[data-action="add"] {
		margin-block-end: 8px;
	}

	.name {
		padding-inline: 6px;

		h5, h6 {
			margin: 0;
			font-family: inherit;
			font-weight: normal;
		}
		h5 {
			font-size: var(--font-size-12);
		}
		h6 {
			font-size: var(--font-size-10);
			font-variant: small-caps;
		}
	}

	.uses, .challenge, .effect {
		min-inline-size: 4em;
		padding-inline: 4px;
		font-size: var(--font-size-12);

		.layout {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-items: center;
		}
	}

	.uses {
		span:has(+ span) { font-size: var(--font-size-10); }
	}
	.challenge {
		.ability {
			color: var(--bf-text-color-light-label);
			font-size: var(--font-size-10);
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	@container (width < 300px) {
		.challenge, .effect { display: none; }
	}
}
