blackFlag-inventory, blackFlag-currency, blackFlag-effects {
	--inventory-image-size: 25px;
	display: block;
	container: inventory / inline-size;

	table {
		border: none;
		background: none;

		> tbody {
			tr {
				:is(td, th) {
					position: relative;
					padding-block: 3px;
					padding-inline: 4px;
					font-size: var(--font-size-13);
				}
				:is(td, th):not(:first-child, :last-child)::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					border-inline-end: 1px solid var(--bf-border-color-gray);
					mask-image: linear-gradient(to bottom, transparent, #000 30% 70%, transparent);
				}
			}

			> tr {
				--background-gradient-color: transparent;
				--background-base-color: transparent;

				background: linear-gradient(
					to right,
					transparent 33%,
					color-mix(in oklab, var(--background-gradient-color), transparent 90%)
				) var(--background-base-color);

				&:nth-child(odd of [data-item-id]) {
					--background-base-color: var(--bf-background-color-quarter-white);
				}

				.name {
					--icon-fill: currentcolor;
					--icon-size: var(--inventory-image-size);
					img, blackflag-icon {
						display: block;
						flex: 0 0 var(--inventory-image-size);
					}
					img {
						width: var(--inventory-image-size);
						height: var(--inventory-image-size);
						border: none;
						background-color: black;
					}
					button {
						flex: 1 1 100%;
						display: flex;
						align-items: center;
						align-self: stretch;
						justify-content: flex-start;
						gap: 4px;
					}
				}
				.components {
					padding-inline-end: 0.5rem;

					> .layout {
						justify-content: flex-end;
					}
				}

				[data-action="expand"] .fa-caret-down { opacity: .7; }
				&:has(+ [data-expand-for]) [data-action="expand"] .fa-caret-down { transition: transform 250ms ease; }
				&:has(+ [data-expand-for].collapsed) [data-action="expand"] .fa-caret-down { transform: rotate(-90deg); }
				&[data-expand-for] > td { padding: 0; }
			}
		}
	}

	> table {
		margin: 0;

		> thead {
			border: none;
			background: none;
			color: var(--color-text-dark-1);
			text-shadow: none;

			tr.filters {
				th {
					padding: 0;
					padding-inline: 4px;
					padding-block-end: 2px;
				}
			}
		}
		> tbody {
			> tr:first-child {
				position: relative;
				border: 2px inset color-mix(in oklab, var(--bf-border-color-blue), white 40%);
				background-color: var(--bf-background-color-half-white);
				font-family: var(--bf-font-header);
				font-weight: 600;

				&::after {
					content: "";
					position: absolute;
					inset: 3px;
					border: 1px solid var(--bf-border-color-gray);
					box-shadow: 0px 0px 3px rgb(0 0 0 / 0.25);
					z-index: 0;
				}

				> tr, > td {
					font-size: var(--font-size-14);

					@media (resolution: 2x) {
						font-size: var(--font-size-13);
					}
				}

				> * {
					z-index: 1;
				}
				.name {
					padding-inline-start: 0.5rem;
					font-variant: small-caps;
				}
			}
		}
	}

	table.activities {
		--activity-border-color: rgb(0 0 0 / .25);
		--inventory-image-size: 20px;
		position: relative;
		margin: 0;
		border-block-end: 1px solid var(--activity-border-color);

		&::before, &::after {
			content: "";
			position: absolute;
			inset-block: 0;
			inline-size: 1px;
			background: linear-gradient(to bottom, rgb(0 0 0 / 0), var(--activity-border-color));
		}
		&::before { inset-inline-start: 0; }
		&::after { inset-inline-end: 0; }

		.activity-row {
			position: relative;
			padding-inline-start: 18px;
			&::before {
				content: "";
				position: absolute;
				inset-block-start: 0;
				inset-block-end: 50%;
				inset-inline-start: 8px;
				inline-size: 8px;
				border: 1px dotted black;
				border-inline-end-width: 0;
				border-block-start-width: 0;
			}
			.name {
				padding: .25rem;
				padding-inline-start: calc(18px + .25rem);
			}
		}
	}

	[data-action="adjustment"]:not(:hover) {
		opacity: 50%;
	}

	td {
		&.weight, &.quantity, &.cost, &.enabled {
			text-align: center;
		}
		&.slots, &.components {
			min-inline-size: 80px;
			max-inline-size: 120px;
		}
		&.quantity {
			width: 85px;
			input {
				border: none;
				height: 1.65em;
				text-align: inherit;
			}
		}
		&.uses, &.weight, &.cost {
			width: 60px;
		}
		&.traits {
			width: 14rem;
			td:is(&) { font-size: var(--font-size-11); }
		}
		&.controls {
			width: 1em;
			.layout { justify-content: center; }
		}
		.status {
			&.fade:not([aria-pressed="true"], :hover, :focus-visible) { opacity: 30%; }
		}
	}

	@container inventory (inline-size < 700px) {
		.traits { display: none; }
	}
	@container inventory (inline-size < 500px) {
		.uses { display: none; }
	}
}

.add-currency.locked-tooltip {
	form {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 6px;
	}
	label {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		align-items: center;
	}
	input {
		color: inherit;
	}
}

.template-label {
	display: inline flex;
	align-items: center;
	gap: 3px;
}

.encumbrance[role="meter"] {
	--bf-encumbrance-color-background: var(--bf-background-color-white);

	isolation: isolate;
	position: relative;
	border: 1px solid var(--bf-border-color-blue);
	border-radius: 4px;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset-block: 0;
		inset-inline-start: 0;
		inset-inline-end: min(calc(100% - 5px), calc(100% - var(--bar-percentage)));
		outline: 1px solid var(--bf-border-color-black);
		background-color: var(--bf-encumbrance-color-background);
		box-shadow: 0 0 4px rgb(0 0 0 / 45%);
		z-index: -1;
	}

	> .label {
		position: absolute;
		inset-block: 0;
		align-content: center;
		margin: 4px;
		padding-inline: 6px;
		font-size: var(--font-size-12);
		font-family: var(--bf-font-primary);
		font-weight: 600;
		backdrop-filter: blur(10px);
		box-shadow: 0 0 2px rgb(0 0 0 / 45%);

		> i { opacity: 50%; }
	}

	.breakpoint {
		position: absolute;
		inset-block: 0;

		&.breakpoint-low { inset-inline-start: var(--breakpoint-low); }
		&.breakpoint-high { inset-inline-start: var(--breakpoint-high); }

		&::before, &::after {
			position: absolute;
			inset-inline-start: -3.5px;
			color: var(--bf-border-color-blue);
			font-family: var(--font-awesome);
			font-size: 12px;
			font-weight: bold;
		}
		&::before {
			content: "\f0d7";
			inset-block-start: -5px;
		}
		&::after {
			content: "\f0d8";
			inset-block-end: -5px;
		}
	}
}
