blackFlag-multiSelect {
	display: block;
	block-size: calc(var(--form-field-height) + 1px);
	inline-size: 100%;
	border: 1px solid var(--color-border-light-tertiary);
	border-radius: 3px;
	background: rgb(0 0 0 / 0.05);
	font-family: inherit;
	font-size: inherit;
	font-variant: normal;

	&:focus, &:focus-within {
		box-shadow: 0 0 5px var(--color-shadow-primary);
	}

	&:disabled {
		border-color: transparent;
		opacity: 80%;
	}

	.dropdown {
		position: relative;
		block-size: 100%;
		inline-size: 100%;
	}

	.dropdown-button {
		contain: inline-size;
		display: flex;
		block-size: 100%;
		inline-size: 100%;
		align-items: center;
		justify-content: space-between;
		border: none;
		padding: 0 3px;
		padding-inline-start: 0.5rem;
		background: none;

		&:hover, &:focus {
			box-shadow: none;
			color: inherit;
		}
	}

	.label {
		font-size: var(--font-size-12);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.icon {
		font-size: var(--font-size-11);
		opacity: .8;
		padding-inline-end: 2px;
	}

	.select-list {
		position: fixed;
		display: none;
		flex-direction: column;
		gap: 3px;
		margin: 0;
		border: 1px solid rgb(0 0 0 / 0.05);
		border-radius: 3px;
		padding-block: 3px;
		padding-inline: 6px;
		background: rgb(255 255 255);
		list-style: none;
		z-index: 100;
	}

	.dropdown:focus-within .select-list {
		display: flex;
	}

	.select-entry label {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

blackFlag-multiSelect {
	--input-background-color: var(--color-cool-4);
	--input-border-color: transparent;
	--input-focus-outline-color: var(--color-cool-3);
	--input-text-color: var(--color-light-3);
	--input-placeholder-color: var(--color-light-5);

	&[disabled] {
		--input-background-color: var(--color-cool-5);
		--input-border-color: var(--color-cool-4);
		--input-text-color: var(--color-light-4);
	}
}

body.theme-light blackFlag-multiSelect {
	--input-background-color: rgba(0, 0, 0, 0.1);
	--input-border-color: var(--color-dark-6);
	--input-text-color: var(--color-dark-2);
	--input-focus-outline-color: var(--bf-button-shadow-blue);
	--input-placeholder-color: var(--color-dark-4);

	&[disabled] {
		--input-background-color: rgba(0, 0, 0, 0.2);
		--input-border-color: transparent;
		--input-text-color: var(--color-dark-3);
	}
}

.application blackFlag-multiSelect {
	background: var(--input-background-color);
	border: 1px solid var(--input-border-color);

	[disabled] {

	}
}
