blackFlag-sorting {
	--sorting-indicator-size: 8px;
	--sorting-indicator-border-color: currentcolor;
	--sorting-indicator-border: 1px solid var(--sorting-indicator-border-color);

	display: flex;
	gap: 10px;
	justify-content: flex-start;
	font-size: var(--font-size-12);
	font-weight: normal;

	> label {
		cursor: pointer;
	}
	input[type="radio"] {
		appearance: none;
		position: relative;
		height: var(--sorting-indicator-size);
		width: var(--sorting-indicator-size);
		margin: 0;
		color: inherit;

		&::before {
			content: "";
			display: block;
			width: var(--sorting-indicator-size);
			height: var(--sorting-indicator-size);
			border: var(--sorting-indicator-border);
			border-radius: var(--sorting-indicator-size);
		}
		&:checked::before {
			background-color: currentcolor;
			color: inherit;
		}
		&::after { display: none; }
	}
}
