@import "damage-rolls.css";
@import "luck-controls.css";
@import "roll-results.css";

.chat-card {
	--card-border-radius: 4px;
	--card-button-inset: 2px;

	display: flex;
	flex-direction: column;
	gap: 4px;

	.card-header {
		header {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			border: 2px solid var(--bf-border-color-gray);
			border-radius: var(--card-border-radius);
			background: var(--bf-background-color-half-white);

			img {
				margin: -2px;
				inline-size: 45px;
				block-size: 45px;
				padding: 2px;
				border: 2px solid var(--bf-border-color-blue);
				border-radius: var(--card-border-radius);
				object-fit: scale-down;
			}
			.name {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h5 {
					margin: 0;
					font-family: var(--bf-font-header);
					font-size: var(--font-size-14);
					font-weight: normal;
				}
				p {
					margin: 0;
					font-size: var(--font-size-11);
					font-weight: light;
				}
			}
			.fa-chevron-down {
				flex: 0 0 32px;
			}
		}
		&.collapsible {
			header {
				cursor: pointer;
			}
		}
		.details {
			font-size: var(--font-size-12);
		}
	}
}

.black-flag.chat-message {
	.menu {
		display: flex;
		gap: 0.25rem;
		flex-direction: column;
		list-style: none;
		margin-block: 2px;
		padding: 0;
		&:not(:has(button:not([hidden]))) { display: none; }
		&:not(:first-child) { margin-block-start: 8px; }
	}
}

.hidden-dc { display: contents; }
.visible-dc { display: none; }
[data-display-challenge] {
	.hidden-dc { display: none; }
	.visible-dc { display: contents; }
}

.card-tray {
	> label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		margin-block-start: 4px;
		cursor: pointer;
		font-size: var(--font-size-11);

		span {
			font-family: var(--bf-font-primary);
			font-weight: 600;
			text-transform: uppercase;
			text-wrap: nowrap;
		}

		&::before, &::after {
			content: "";
			flex-basis: 50%;
			border-block-start: 1px dotted var(--bf-border-color-blue);
			align-self: center;
		}
	}
}

.card-tray {
	.effects, .targets {
		margin-block: 4px;
		border: 2px solid var(--bf-border-color-gray);
		border-radius: 4px;
		background-color: var(--bf-background-color-half-white);

		.effect, .target {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 4px 6px;
			padding-block-start: 6px;
			padding: 4px;

			&:not(:first-child) {
				padding-block-start: 6px;
			}
			&:not(:last-child) {
				border-block-end: 1px dashed var(--bf-border-color-blue);
				padding-block-end: 6px;
			}

			.name-stacked {
				flex: 1;
				.subtitle {
					display: flex;
					gap: 4px;
				}
			}
		}

		> .none {
			margin-block: 4px;
			font-family: var(--bf-font-primary);
			font-size: var(--font-size-12);
			text-align: center;
		}
	}
}

/* <><><><> <><><><> <><><><> <><><><> */
/*          Rest & Turn Cards          */
/* <><><><> <><><><> <><><><> <><><><> */

.chat-card {
	--card-gap: 8px;

	section > .section-header {
		display: block;
		margin-block-start: var(--card-gap);
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-12);
		font-weight: 800;
	}
	.activities ul {
		margin-block-start: var(--card-gap);

		li {
			--icon-size: 32px;
			gap: var(--card-gap);
			.name-stacked {
				gap: 0;
				text-align: start;
			}
		}
	}
	.deltas ul {
		.delta {
			display: flex;
			gap: 4px;
			align-items: first baseline;
			justify-content: space-between;
			.label { flex-grow: 1; }
			.roll { font-size: var(--font-size-12); }
		}
	}
}
