.chat-message .damage.dice-roll {
	.dice-rolls {
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
		align-items: center;
		grid-area: --dice-rolls;
	}
	.part-method {
		margin-inline: 4px;
	}
	.tooltip-part {
		padding-block-start: 2px;
		padding-block-end: 2px;
		&:not(:last-of-type) {
			border-block-end: 1px dashed var(--bf-border-color-gray);
		}
	}
	.dice {
		display: grid;
		grid-template-areas: "--dice-method --dice-rolls --dice-total";
		grid-template-columns: min-content auto minmax(45px, max-content);
		align-items: center;
	}
	.total {
		--icon-fill: rgb(0 0 0 / .15);
		--icon-width: 30px;
		--icon-height: 30px;

		display: grid;
		grid-area: --dice-total;
		grid-template-rows: min-content auto;
		align-items: center;
		justify-content: center;
		font-family: var(--bf-font-primary);

		> * { grid-column: 1; }
		blackFlag-icon {
			grid-row: 1 / -1;
			display: block;
		}
		.label {
			grid-row: 1;
			font-size: var(--font-size-10);
			font-stretch: condensed;
			font-weight: 400;
			line-height: 1em;
			text-align: center;
			text-transform: uppercase;
		}
		.value {
			grid-row: 2;
			font-size: var(--font-size-16);
			font-weight: 800;
			line-height: 1em;
			text-align: center;
		}
	}
}

.damage .dice-result {
	isolation: isolate;
	font-family: var(--bf-font-primary);

	.dice-formula, .dice-total { border-radius: 7px; }
	.dice-formula, .dice-tooltip, .dice-total {
		background: var(--bf-background-color-half-white);
	}
	.dice-formula {
		margin-block-end: 0;
		border-end-start-radius: 0;
		border-end-end-radius: 0;
		font-weight: 400;
	}
	.dice-total {
		margin-block-start: -1px;
		border-start-start-radius: 0;
		border-start-end-radius: 0;
		font-size: var(--font-size-20);
		font-weight: 650;
		line-height: 1.5em;
	}
	.dice-tooltip {
		position: relative;
		margin-inline: 4px;
		border-inline: 1px solid var(--bf-border-color-gray);
		padding-inline: 4px;
		box-shadow: 0 0 4px rgb(0 0 0 / 15%);
		z-index: -1;

		&::before {
			content: "";
			position: absolute;
			inset-block-start: -6px;
			inset-inline: -3px;
			height: 6px;
			border-radius: 4px;
			box-shadow: 0 0 0 rgb(0 0 0 / .2);
			transition: box-shadow 250ms;
		}
		&.expanded::before {
			box-shadow: 0 3px 3px rgb(0 0 0 / .2);
		}

		> :first-child {
			padding-block-start: 2px;
		}
	}
}
