.black-flag.item.sheet:not(.concept) {
	--item-background: var(--bf-background-color-half-white);

	&:not(.minimized, .minimizing, .maximizing) {
		min-width: 475px;
		min-height: 375px;
	}

	.window-content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.sheet-header {
			display: flex;
			gap: 16px;
			align-items: center;

			.icon {
				flex: 0 0 64px;
				margin: 0;

				> img {
					width: 64px;
					height: 64px;
					&[data-edit] {
						outline: 1px solid var(--bf-border-color-black);
						outline-offset: 2px;
					}
				}
			}
			> .document-name {
				height: unset;
				flex-grow: 1;
				font-size: var(--font-size-24);
				line-height: 2;
			}
		}

		nav.tabs.tabs-separate {
			--tab-background-active: var(--item-background);
		}

		[data-container-id="sheet-body"] {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			margin: -1rem;
			margin-block-start: -.5rem;
			padding: 1rem;
			background: var(--item-background);

			[data-tab] {
				height: 100%;
				flex-direction: column;
				gap: 0.5rem;

				&.active { display: flex; }

				> section {
					&:first-child:last-child {
						height: 100%;
					}
				}
			}

			[data-tab="description"] {
				gap: 0;

				.category {
					display: flex;
					gap: 0.5rem;
					margin-inline: -1rem;
					margin-block-end: 0.25rem;
					border-block: 1px groove var(--bf-border-color-blue);
					padding-block: 4px;
					padding-inline: 1rem;

					> .form-group {
						flex: 1 1 20em;
						max-inline-size: calc(50% - 4px);
						font-size: var(--font-size-12);
						font-variant: small-caps;
						label, input, select, blackFlag-multiSelect {
							font-weight: 100;
						}
						select, blackFlag-multiSelect {
							font-variant: normal;
						}
					}
				}

				.description-area {
					flex-grow: 1;
					display: flex;
					gap: 1rem;
					align-items: flex-start;

					.sidebar {
						flex: 0 0 160px;
						max-inline-size: 160px;
						display: flex;
						flex-direction: column;
						gap: 0.5rem;
						margin-block: 0.25rem;
						padding: 0.5rem;
						border-radius: 10px;
						background-color: var(--bf-background-color-quarter-white);
						box-shadow: 1px 1px 4px rgba(0 0 0 / 0.2);
						font-size: var(--font-size-12);

						.form-group {
							label { font-variant: none; }
							.form-fields { display: contents; }
							input, select {
								block-size: 1.75em;
								min-inline-size: 3.5em;
								text-align: end;
							}
						}

						> label {
							display: flex;
							gap: 0.5rem;
							align-items: first baseline;

							> span:first-child { font-weight: bold; }
							input, select {
								block-size: 1.75em;
								min-inline-size: 3.5em;
								text-align: end;
							}

							[name="system.rarity"] { flex-grow: 1; }
						}
					}

					.description { flex: 1; }

					prose-mirror {
						max-width: unset;
						flex-grow: 1;
						align-self: stretch;
						margin-inline: -.5rem;

						.editor-content { padding-inline: 12px; }
					}
				}
			}
		}

		[data-tab="details"] {
			fieldset:not(.checkbox-list) {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				> :is(label, .field-group) {
					> input {
						flex-grow: 1;
						width: unset;
					}
				}
			}
		}
	}
}

.black-flag.sheet.item {
	blackFlag-effects {
		display: contents;

		.effect-name { width: 200px; }
		.effect-controls {
			width: 40px;
			> .layout { justify-content: center; }
		}
	}
}
