.black-flag.concept.sheet .window-content {
	flex-direction: row;
	gap: 0.5rem;
	padding: 0;
	scrollbar-gutter: stable;

	.summary {
		flex: 0 0 400px;

		textarea[name="system.description.short"] {
			min-height: calc(6em + 12px);
		}
	}
	.details {
		margin-inline-end: 8px;

		> nav {
			display: flex;
			justify-content: center;
			gap: 12px;
			border: none;

			> a {
				padding-block: 8px;
				font-family: var(--bf-font-header);

				&.active {
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 4px;
				}
			}
		}

		prose-mirror { height: 100%; }
	}
	.details, .details section.tab.active {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: .5em;

		[data-tab] > * {
			flex-grow: 1;
		}
	}

	.sheet-header {
		.color {
			flex: 0 0 2em;
			display: flex;
			flex-direction: column;
			
			span {
				text-align: center;
				font-size: var(--font-size-12);
				font-weight: bold;
			}
		}
	}
}

:is(.concept-selection-dialog:is(.class, .subclass) .option, .black-flag.concept.sheet .summary) {
	.poster {
		margin: 0;
		width: 400px;
		height: 512px;
		contain: layout;

		img {
			width: 390px;
			height: 390px;
			object-fit: cover;
			margin: 5px;
			margin-block-start: 10px;
			border: none;
		}

		.name, .document-name {
			position: absolute;
			top: 410px;
			left: 0;
			right: 0;
			height: unset;
			width: unset;
			text-align: center;
			border: none;
			margin-block: 0;
			margin-inline: 1rem;
			z-index: 1;
			background: none;
			color: white;
			font-size: var(--font-size-28);
			line-height: 1.5em;
		}

		.color {
			position: absolute;
			top: 25px;
			left: 15px;

			> input {
				width: 25px;
				height: 25px;
				padding: 3px;
				border-radius: 10px;
			}
		}

		.source, .source input {
			border-radius: 5px;
			padding-inline: 0.5em;
			color: white;
			font-size: var(--font-size-12);
			font-variant: small-caps;
			text-align: end;
		}
		.source {
			position: absolute;
			top: 25px;
			right: 15px;
			padding-block: 0.25em;
			background: rgba(255, 255, 255, 0.25);
			backdrop-filter: blur(8px);
			color: white;
			font-size: var(--font-size-12);
			font-variant: small-caps;

			input {
				height: unset;
				width: unset;
				min-width: 15em;
				margin-block: -0.25em;
				margin-inline: -0.5em;
				border: none;
				background: none;

				&::placeholder {
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	
		.banner-mask {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url("artwork/interface/banner-mask.svg");
			z-index: 0;
		}
	}

	.info {
		flex-grow: 1;
		margin-inline: 1rem;

		.description {
			textarea {
				max-height: 12rem;
				max-width: unset;
				width: 100%;
				border-radius: 10px;
			}
		}

		.journal-link {
			margin-block-start: 0.5rem;

			p:not(.hint) {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				padding: 0.25rem;
			}
		}

		.class-selector {
			display: flex;
			gap: 0.5rem;
			align-items: first baseline;
			margin-block-start: 0.5rem;

			span {
				font-family: var(--bf-font-primary);
				font-variant: small-caps;
				font-weight: bold;
			}
			select {
				flex-grow: 1;
			}
		}

		.traits {
			display: flex;
			flex-direction: column;
			gap: 0.35rem;
			padding: 0;
			list-style: none;

			> li {
				border: 2px groove white;
				border-radius: 1em 0;
				padding-inline: 1rem;
				padding-block: 0.25rem;
				background: var(--bf-item-gradiant);
				color: white;
				box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.35);
			}
		}
	}
}
