.black-flag.application, .black-flag.concept-selection-dialog {
	--bf-item-color: var(--bf-color-blue);
	--bf-item-gradiant: linear-gradient(
		color-mix(in oklab, var(--bf-item-color), white 30%),
		color-mix(in oklab, var(--bf-item-color), white 10%),
		color-mix(in oklab, var(--bf-item-color), black 20%)
	);
}
