/* <><><><> <><><><> <><><><> <><><><> */
/*           Application V2            */
/* <><><><> <><><><> <><><><> <><><><> */

.black-flag.application {
	--color-fieldset-border: var(--bf-border-color-blue);
	--color-scrollbar: var(--bf-scrollbar-color);
	--color-shadow-primary: var(--bf-button-shadow-blue);
	--fieldset-gap: 8px;
	max-height: 85vh;
	margin: 0;
	padding: 0;

	button:not(.link-button) {
		--button-hover-background-color: var(--bf-button-background-color-regular);
		--button-hover-border-color: var(--bf-border-color-black);
		line-height: 28px;
	}
	input, select {
		--input-focus-outline-color: var(--bf-button-shadow-blue);
	}
	input[type="checkbox"] {
		--checkbox-checked-color: var(--bf-border-color-blue);
		--checkbox-checkmark-color: var(--bf-background-color-white);
	}
	textarea:focus {
		box-shadow: 0 0 6px var(--bf-button-shadow-blue);
	}

	.window-content {
		overflow-y: auto;
		> section:empty { display: none; }
		> .column-container {
			display: flex;
			flex-direction: column;
			gap: var(--fieldset-gap);
		}
	}
	&.form-list .window-content {
		display: flex;
		flex-direction: column;
		gap: var(--fieldset-gap);
		> .contents { display: contents; }
	}
	&.grid-columns {
		--grid-column-left-size: 1fr;
		--grid-column-center-size: 1fr;
		--grid-column-right-size: 1fr;

		.window-content {
			display: grid;
			column-gap: var(--fieldset-gap);

			&:has(> .column-container:nth-of-type(2)) {
				grid-template-columns: [left] var(--grid-column-left-size) [right] var(--grid-column-right-size);
			}
			&:has(> .column-container:nth-of-type(3)) {
				grid-template-columns: [left] var(--grid-column-left-size) [center] var(--grid-column-center-size) [right] var(--grid-column-right-size);
			}

			> .column-container[data-container-id="column-left"] { grid-area: left; }
			> .column-container[data-container-id="column-center"] { grid-area: center; }
			> .column-container[data-container-id="column-right"] { grid-area: right; }
		}
	}

	&.standard-form {
		gap: 0;

		.hint { font-size: var(--font-size-12); }
	}
}
