.black-flag-tooltip:is(#tooltip, .locked-tooltip) {
	border: 3px solid var(--bf-border-color-blue);
	border-radius: 6px;
	background: var(--bf-background-color-white);
	color: var(--bf-text-color-black);

	.loading {
		display: block;
		margin-block: 4px;
		animation-name: fa-spin;
		animation-direction: normal;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(8);
		font-family: var(--font-awesome);
		font-size: var(--font-size-24);
		font-weight: bold;
		&::before { content: "\f110"; }
	}
	&:not(.loading) { min-inline-size: 200px; }

	&.locked-tooltip {
		outline: 1px solid var(--bf-border-color-gray);
		outline-offset: -1.5px;
		z-index: calc(var(--z-index-tooltip) - 1);
	}

	&.item-tooltip {
		.content {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin-inline-end: -8px;
		}
		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;

			.icon { inline-size: 64px; }
		}
		.description {
			max-block-size: 450px;
			overflow: hidden;
			scrollbar-width: thin;
			scrollbar-gutter: stable;
			scrollbar-color: var(--bf-scrollbar-color) transparent;
			font-size: var(--font-size-13);
			line-height: normal;
			text-align: start;

			&.overflowing { mask-image: linear-gradient(to bottom, black 90%, transparent); }
		}
		&.locked-tooltip .description {
			overflow-y: scroll;
			&.overflowing { mask-image: unset; }
		}
	}

	&.rule-tooltip {
		max-block-size: 450px;
		padding: 0;

		header {
			display: flex;
			align-items: first baseline;
			justify-content: space-between;
			border-block-end: 1px solid var(--bf-border-color-blue);
			padding-inline: 12px;
			padding-block-start: 12px;

			> * { margin-block-end: 4px; }
			h2 { border: none; }
			.type { font-family: var(--bf-font-header); }
		}
		.description {
			padding-inline: 12px;
			padding-block: 6px;
			font-size: var(--font-size-14);
		}
	}
}
