{{#unless item.isEmbedded}}
	<div class="category">
		{{ formGroup fields.identifier.fields.value value=source.identifier.value placeholder=item.identifier
		             classes="label-hinted" label="BF.Currency.Abbreviation.Label" hint="BF.Currency.Abbreviation.Hint"
		             localize=true rootId=partId }}
		{{ formGroup fields.conversion.fields.value value=source.conversion.value classes="label-hinted" localize=true
		             rootId=partId }}
	</div>
{{/unless}}
